In [29]:
import os
import config

os.environ["OPENAI_API_KEY"] = config.OPENAI_API_KEY

In [3]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("postgresql://postgres:Braimah@localhost:5432/dvdrental")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Actor LIMIT 10;")

postgresql
['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

"[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]"

### --


`Create a chain that takes a question, turns it into a SQL query, executes the query and uses the result to answer the original question.`

## `Convert question to SQL query`

In [30]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question": "How many customers are there"})
response

'SELECT COUNT(customer_id) AS total_customers\nFROM customer;'

In [5]:
db.run(response)

'[(599,)]'

In [6]:
chain.get_prompts()[0].pretty_print()

You are a PostgreSQL expert. Given an input question, first create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per PostgreSQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURRENT_DATE function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

## `Execute SQL query`

In [8]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)
chain = write_query | execute_query
chain.invoke({"question": "How many staffs are there"})

'[(2,)]'

## `Answer the question`

In [9]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many cities are there"})

'There are 600 cities in the database.'

## `Utilizing a LangChain Agent`

In [10]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [13]:
agent_executor.invoke(
    {
        "input": "which city has the most actors?"
    }
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


actor, address, category, city, country, customer, film, film_actor, film_category, inventory, language, payment, rental, staff, store
Invoking: `sql_db_schema` with `{'table_names': 'actor, city'}`



CREATE TABLE actor (
	actor_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1	Penelope	Guiness	2013-05-26 14:47:57.620000
2	Nick	Wahlberg	2013-05-26 14:47:57.620000
3	Ed	Chase	2013-05-26 14:47:57.620000
*/


CREATE TABLE city (
	city_id SERIAL NOT NULL,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT city_pkey PRIMARY KEY (city_id),
	CONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)
)

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Corua (La Corua)	87	2006-02-15 09:45:25
2	Abha	82	2006-02-15 09:45:25
3	Abu Dhabi	101	2006-02-15 09:45:25
*/
Invoking: `sql_db_query` with `{'query': 'SELECT city.city, COUNT(actor.actor_id) AS actor_count FROM city JOIN address ON city.city_id = address.city_id JOIN staff ON address.address_id = staff.address_id JOIN actor ON staff.staff_id = actor.actor_id GROUP BY city.city ORDER BY actor_count DESC LIMIT 1'}`
responded: The table "actor" contains information about actors, and the table "city" contains information about cities. To find the city with the most actors, I will need to join these two tables and count the number of actors in each city. Let me construct the query to find the city with the most actors.

[('Lethbridge', 1)]The city with the most actors is Lethbridge.

> Finished chain.

{'input': 'which city has the most actors?',
 'output': 'The city with the most actors is Lethbridge.'}

In [12]:
agent_executor.invoke(
    {
        "input": "How many actors are from lethbridge?"
    }
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


actor, address, category, city, country, customer, film, film_actor, film_category, inventory, language, payment, rental, staff, store
Invoking: `sql_db_schema` with `{'table_names': 'actor, address, city'}`



CREATE TABLE actor (
	actor_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1	Penelope	Guiness	2013-05-26 14:47:57.620000
2	Nick	Wahlberg	2013-05-26 14:47:57.620000
3	Ed	Chase	2013-05-26 14:47:57.620000
*/


CREATE TABLE address (
	address_id SERIAL NOT NULL,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT address_pkey PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id)
)

/*
3 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2006-02-15 09:45:30
2	28 MySQL Boulevard	None	QLD	576			2006-02-15 09:45:30
3	23 Workhaven Lane	None	Alberta	300		14033335568	2006-02-15 09:45:30
*/


CREATE TABLE city (
	city_id SERIAL NOT NULL,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT city_pkey PRIMARY KEY (city_id),
	CONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)
)

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Corua (La Corua)	87	2006-02-15 09:45:25
2	Abha	82	2006-02-15 09:45:25
3	Abu Dhabi	101	2006-02-15 09:45:25
*/
Invoking: `sql_db_query` with `{'query': "SELECT city_id FROM city WHERE city = 'Lethbridge'"}`
responded: To find out how many actors are from Lethbridge, I will need to query the database to retrieve this information. I will first need to find the city_id for Lethbridge in the city table, and then use that city_id to count the number of actors from Lethbridge in the address table.

Let me construct the query to find the city_id for Lethbridge.

[(300,)]
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM address WHERE city_id = 300'}`
responded: The city_id for Lethbridge is 300. Now, I will use this city_id to count the number of actors from Lethbridge in the address table.

[(2,)]There are 2 actors from Lethbridge.

> Finished chain.

{'input': 'How many actors are from lethbridge?',
 'output': 'There are 2 actors from Lethbridge.'}

In [15]:
examples = [
    {
        "input": "List all films in the database. What are films are in the database. What's the number of films we have.",
        "query": "SELECT * FROM film;"
    },
    {
        "input": "Find all actors starring in the film 'The Godfather'. Who are the actors featured in 'The Godfather'? Which actors appear in 'The Godfather' movie.",
        "query": "SELECT * FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor WHERE film_id = (SELECT film_id FROM film WHERE title = 'The Godfather'));"
    },
    {
        "input": "List all categories available for films. How many film categories are there? What are the film category options.",
        "query": "SELECT * FROM category;"
    },
    {
        "input": "Find the rental duration of the film 'Titanic'. How long can 'Titanic' be rented for? What is the rental duration of 'Titanic' movie.",
        "query": "SELECT rental_duration FROM film WHERE title = 'Titanic';"
    },
    {
        "input": "List all customers who rented the film 'Jurassic Park'. Who rented 'Jurassic Park'? Which customers have rented 'Jurassic Park' movie.",
        "query": "SELECT * FROM customer WHERE customer_id IN (SELECT customer_id FROM rental WHERE inventory_id IN (SELECT inventory_id FROM inventory WHERE film_id = (SELECT film_id FROM film WHERE title = 'Jurassic Park')));"
    },
    {
        "input": "How many rentals were made by the customer with ID 10? What's the total count of rentals by customer ID 10? How many times has customer ID 10 rented.",
        "query": "SELECT COUNT(*) FROM rental WHERE customer_id = 10;"
    },
    {
        "input": "List all staff members working at the store. Who are the employees at the store? What is the staff roster at the store.",
        "query": "SELECT * FROM staff;"
    },
    {
        "input": "Find the total duration of all films in the database. What's the sum of all film lengths? How long are all films in total.",
        "query": "SELECT SUM(length) FROM film;"
    },
    {
        "input": "List all languages available for films. What languages are available for films? How many film languages are there.",
        "query": "SELECT * FROM language;"
    },
    {
        "input": "Who are the top 5 customers with the highest total rental payments? Which customers spent the most on rentals? List the top 5 customers by rental payments.",
        "query": "SELECT customer_id, SUM(amount) AS total_payments FROM payment GROUP BY customer_id ORDER BY total_payments DESC LIMIT 5;"
    },
    {
        "input": "Which films were released in the year 2000? What movies came out in 2000? List films from the year 2000.",
        "query": "SELECT * FROM film WHERE release_year = 2000;"
    },
    {
        "input": "How many different categories of films are there? What is the count of film categories? How many film genres exist?",
        "query": "SELECT COUNT(*) FROM category;"
    }
]

In [18]:
# Example Selector

from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["input"],
)

` FewShotPromptTemplate, which takes our example selector, an example prompt for formatting each example, and a string prefix and suffix to put before and after our formatted examples:`

In [24]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:"""

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix,
    suffix="",
)

In [27]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)

In [28]:
# Example formatted prompt
prompt_val = full_prompt.invoke(
    {
        "input": "How many arists are there",
        "top_k": 5,
        "dialect": "PostgreSQL",
        "agent_scratchpad": [],
    }
)
print(prompt_val.to_string())

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:

User input: How many different categories of films are there? What is the count of film categories? How many film genres exist?
SQL query: SELECT COUNT(*) FROM category;

User input: List all films in the database. What are films are in the database. What's the number of films we have.
SQL query: SELECT * FROM film;

User input: List all categories available for films. How many film categories are there? What are the film category options.
SQL query: SELECT * FROM category;

User input: Find all actors starring in the film 'The Godfather'. Who are the actors featured in 'The Godfather'? Which actors appear in 'The Godfather' movie.
SQL query: SELECT * FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor WHERE film_id = (SELECT film_id FROM film WHERE title = 'The Godfather'));

User input: Find the total duration of all films in the database. What's the sum of all film lengths? How long are all films in total.
SQL query: SELECT SUM(length) FROM film;
Human: How many arists are there

In [ ]:
agent = create_sql_agent(
    llm=llm,
    db=db,
    prompt=full_prompt,
    verbose=True,
    agent_type="openai-tools",
)

In [ ]:
agent.invoke({"input": "How many artists are there?"})

`Handling Proper Nouns`

In [21]:
import ast
import re


def query_as_list(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return list(set(res))


# Films
films = query_as_list(db, "SELECT DISTINCT title FROM film")

# Actors
actors = query_as_list(db, "SELECT DISTINCT first_name FROM actor")
actors.extend(query_as_list(db, "SELECT DISTINCT last_name FROM actor"))

# Categories
categories = query_as_list(db, "SELECT DISTINCT name FROM category")

# Customers
customers = query_as_list(db, "SELECT DISTINCT first_name FROM customer")
customers.extend(query_as_list(db, "SELECT DISTINCT last_name FROM customer"))

# Staff
staff = query_as_list(db, "SELECT DISTINCT first_name FROM staff")
staff.extend(query_as_list(db, "SELECT DISTINCT last_name FROM staff"))

# Addresses
addresses = query_as_list(db, "SELECT DISTINCT address FROM address")
cities = query_as_list(db, "SELECT DISTINCT city FROM city")
countries = query_as_list(db, "SELECT DISTINCT country FROM country")

films[:5]

['Daddy Pittsburgh',
 'Slacker Liaisons',
 'Crooked Frogmen',
 'Groove Fiction',
 'Edge Kissing']

In [22]:
from langchain.agents.agent_toolkits import create_retriever_tool

vector_db = FAISS.from_texts(films + actors + categories + customers + staff + addresses + cities + countries, OpenAIEmbeddings())
retriever = vector_db.as_retriever(search_kwargs={"k": 5})
description = """Use to look up values to filter on. Input is an approximate spelling of the proper noun, output is \
valid proper nouns. Use the noun most similar to the search."""
retriever_tool = create_retriever_tool(
    retriever,
    name="search_proper_nouns",
    description=description,
)

`Full Prompt`

In [31]:
system = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If you need to filter on a proper noun, you must ALWAYS first look up the filter value using the "search_proper_nouns" tool! 

You have access to the following tables: {table_names}

If the question does not seem related to the database, just return "We do not have this information."""

prompt = ChatPromptTemplate.from_messages(
    [("system", system), ("human", "{input}"), MessagesPlaceholder("agent_scratchpad")]
)
agent = create_sql_agent(
    llm=llm,
    db=db,
    extra_tools=[retriever_tool],
    prompt=prompt,
    agent_type="openai-tools",
    verbose=True,
)

In [32]:
agent.invoke({"input": "Find the customer who has rented the most number of films in the 'Action' genre?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_query` with `{'query': "SELECT customer.customer_id, customer.first_name, customer.last_name, COUNT(rental.rental_id) AS num_rentals\nFROM customer\nJOIN rental ON customer.customer_id = rental.customer_id\nJOIN inventory ON rental.inventory_id = inventory.inventory_id\nJOIN film ON inventory.film_id = film.film_id\nJOIN film_category ON film.film_id = film_category.film_id\nJOIN category ON film_category.category_id = category.category_id\nWHERE category.name = 'Action'\nGROUP BY customer.customer_id\nORDER BY num_rentals DESC\nLIMIT 1;"}`


[(506, 'Leslie', 'Seward', 7)]The customer who has rented the most number of films in the 'Action' genre is Leslie Seward with 7 rentals.

> Finished chain.

{'input': "Find the customer who has rented the most number of films in the 'Action' genre?",
 'output': "The customer who has rented the most number of films in the 'Action' genre is Leslie Seward with 7 rentals."}